namespace Core.Database.Entity
{
    public class {{ entity_cls }} {
        {% for column in columns %}
        public {{ column.type }} {{ column.field }} { get; set; }
        {% endfor %}
    }
}
